<article class="doc">
    <h1 class="page">{{{or page.title 'ページが見つかりません'}}}</h1>
    <div class="paragraph">
       <p>お探しのページは存在しません。ページは移動された可能性があります。{{#with site.homeUrl}} <a href="{{{this}}}">最初のページ</a>に戻るか、{{/with}}左のナビゲーションにあるリンクをいずれかをたどってください。</p>
    </div>
    <div class="paragraph">
       <p>リンクをクリックしてこのページにたどり着いた場合は、サイトの所有者にリンクが壊れていることをお知らせください。
        このページのURLを手動で入力した場合は、アドレスが正しく入力されているかどうか、再度ご確認ください。</p>
    </div>
</article>
