<script src="{{{uiRootPath}}}/js/site.js"></script>
<script async src="{{{uiRootPath}}}/js/vendor/highlight.js"></script>
<!-- Before the closing </body> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
<script src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
{{!-- <script src="https://cdn.jsdelivr.net/npm/@docsearch/js@alpha"></script> --}}
<script>
  docsearch({
    // Your apiKey and indexName will be given to you once
    // we create your config
    apiKey: '294d1dcb70726c453eb9db18c0472709',
    indexName: 'tgdocs',
    appId: 'CTOKZGN7YQ', // Should be only included if you are running DocSearch on your own.
    // Replace inputSelector with a CSS selector
    // matching your search input
    inputSelector: '#search',
    // Set debug to true to inspect the dropdown
    debug: false,
    algoliaOptions: {
      hitsPerPage: 20,
      // See https://www.algolia.com/doc/api-reference/api-parameters/
      },
  });
</script>

{{!-- <script type="text/javascript">
  (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
  (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
  e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
  })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');
  
  _st('install','wGW4288Z7D7GjQmQFrP7','2.0.0');
</script> --}}
