<footer class="footer">
  <div class="footer-columns">
    <div>
      <p> <a href="https://www.tigergraph.com/support/">Support</a> | <a href="https://community.tigergraph.com/">Community</a> | <a href="https://www.tigergraph.com/contact/">Contact</a> </p>
      <p> <a href="https://www.linkedin.com/company/tigergraph/">Linkedin</a> | <a href="https://www.facebook.com/TigerGraphDB/">Facebook</a> | <a href="https://twitter.com/tigergraphdb">Twitter</a> | <a>GitHub</a></p>
      <p> Copyright © 2021 TigerGraph | <a href="https://www.tigergraph.com/privacy-policy/">Privacy Policy</a></p> 
    </div>
  </div>
</footer>
