.page-versions {
  margin: 1rem 3.25rem 0 0.75rem;
  position: relative;
  line-height: 1;
}

.page-versions .version-menu-toggle {
  color: inherit;
  background-color: white;
  border-radius: 0.25rem;
  border: 1px solid #c1c7c6;
  outline: none;
  line-height: inherit;
  width: 100%;
  padding: 0.5rem 1.5rem 0.5rem 1rem;
  position: relative;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  z-index: var(--z-index-page-version-button);
}

.page-versions .version-menu-toggle:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 2px 6px;
}

.button-text {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}

.button-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  transform: rotate(0);
  transition: transform 0.3s linear;
}

.page-versions.is-active .button-arrow {
  transform: rotate(180deg);
  transition: transform 0.3s linear;
}

.page-versions .version-menu {
  min-width: 100%;
  background: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  padding: 0;
  border-radius: 0.25rem;
  position: absolute;
  top: 1.5rem;
  right: 0;
  white-space: nowrap;
  z-index: var(--z-index-page-version-menu);
  transform-origin: center top;
  animation: fade_in_show 0.3s;
}

.version-menu a {
  display: inline-block;
  width: 100%;
  padding: 0.25rem 0 0.5rem 1rem;
  text-decoration: none;
  color: black;
}

.version-menu .version:hover {
  background: var(--navbar-menu_hover-background);
}

.page-versions:not(.is-active) .version-menu {
  display: none;
}

.page-versions .version {
  display: block;
  padding-top: 0.5rem;
}

.page-versions .version.is-current {
  display: none;
}

.page-versions .version.is-missing {
  color: var(--page-version-missing-font-color);
  font-style: italic;
  text-decoration: none;
}

@keyframes fade_in_show {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
