@font-face {
  font-family: "Inter Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(~@fontsource-variable/inter/files/inter-latin-wght-normal.woff2) format("woff2-variations");
}

@font-face {
  font-family: "Outfit Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(~@fontsource-variable/outfit/files/outfit-latin-wght-normal.woff2) format("woff2-variations");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(~@fontsource/jetbrains-mono/files/jetbrains-mono-latin-400-normal.woff2) format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(~@fontsource/jetbrains-mono/files/jetbrains-mono-latin-500-normal.woff2) format("woff2");
}
